body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "div-nav header" 
        "div-nav main" 
        "div-nav footer";
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 10%;

}
header{
    grid-area: header;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
main{
    grid-area: main;
    display: grid;
    grid-template-areas: "article aside";
    grid-template-columns: 4fr 1fr;
}
.aside{
    grid-area: aside;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.article{
    grid-area: article;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.div-nav{
    grid-area: div-nav;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
footer{
    grid-area: footer;
    background-color: navy;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}