body{
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 1fr 150px;
}
header{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
main{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
footer{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}